#support-chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 15vw;


    display: flex;
    flex-direction: column;
}

#message-container {
    background-color: #526ee9;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 10px;
    max-height: 40vh;
    overflow-y: auto;
}

#support-chat .msg {
    margin: 5px 10px;
    background-color: #2d23b8;
    color: rgb(151, 165, 228);
    padding: 6px 10px;
    align-self: flex-end;
}

#support-chat button {
    padding: 10px 15px;
    background-color: #483bf6;
    color: rgb(175, 189, 252);
    border: none;
    cursor: pointer;
    align-self: center;
}

#support-chat button:hover {
    background-color: #281dce;
}